*.user
_global_config_and_source/glm/CMakeLists.txt
_global_config_and_source/OpengGL45Docs/~$openglAPI.xlsx
_global_config_and_source/GLMDocs/~$glm.docx
*.o
build-SimpleTextureArray-mingwyy-Release/Makefile
*.Release
*.exe
*.Debug
build-SimpleTextureArray-mingwyy-Release/release/moc_MainWindow.cpp
*.vcxproj
*.filters
*.sln
*.db
*.tlog
*.opendb
SimpleTextureArray/debug/moc_MainWindow.cpp
*.suo
SimpleTextureArray/debug/glew.obj
*.pdb
*.ilk
*.log
SimpleTextureArray/debug/main.obj
BaseTest/debug/glew.obj
SimpleDepthTest/debug/QOpenGLTool.obj
SingleTriangle/debug/glew.obj
SimplePassDataByBlock/debug/moc_MainWindow.obj
SimpleBlendTest/debug/main.obj
SetSimpleDebug/release/MainWindow.obj
ObjectFileFormatView/debug/QOpenGLTool.obj
BaseTest/debug/main.obj
ObjectFileFormatNormalView/debug/QGLWidgetInitializeGlew.obj
PrintOpenGLVersion/release/glew.obj
SimpleBlendTest/debug/QGLWidgetInitializeGlew.obj
SimpleClearColor/release/moc_MainWindow.obj
BaseTest/debug/MainWindow.obj
BaseTest/release/glew.obj
GLMTest/release/QGLWidgetInitializeGlew.obj
BaseTest/release/moc_MainWindow.cpp
GLMTest/release/main.obj
SetSimpleDebug/release/QOpenGLTool.obj
SingleTriangle/debug/QGLWidgetInitializeGlew.obj
BaseTest/debug/moc_MainWindow.cpp
BaseTest/debug/moc_MainWindow.obj
BaseTest/debug/QGLWidgetInitializeGlew.obj
BaseTest/debug/QOpenGLTool.obj
BaseTest/release/main.obj
ObjectFileFormatNormalView/debug/moc_MainWindow.obj
ObjectFileFormatNormalView/debug/moc_MainWindow.cpp
SingleTriangle/release/QGLWidgetInitializeGlew.obj
BaseTest/release/MainWindow.obj
ObjectFileFormatNormalView/release/moc_MainWindow.cpp
BaseTest/release/moc_MainWindow.obj
SingleTextureTriangle/release/QOpenGLTool.obj
SinglePoint/release/QOpenGLTool.obj
SinglePoint/release/moc_MainWindow.obj
GLMTest/debug/glew.obj
BaseTest/debug/*
CPP11AlignTest/debug/*
GLMTest/debug/*
ObjectFileFormatNormalView/debug/*
ObjectFileFormatView/debug/*
OBJView/debug/*
OpenGLSuperBible.pro/debug/*
OpenGLSuperBible.pro.user/debug/*
OpenGLSuperBible.sln/debug/*
OpenGLSuperBible.VC.db/debug/*
PrintOpenGLVersion/debug/*
PrintOpenGLVersionWithTimer/debug/*
SetSimpleDebug/debug/*
SetSimpleDebugTest/debug/*
SimpleBlendTest/debug/*
SimpleBuffer/debug/*
SimpleClearColor/debug/*
SimpleClearColorTimer/debug/*
SimpleDepthTest/debug/*
SimpleDrawElements/debug/*
SimpleFramebuffer/debug/*
SimpleFramebufferBlend/debug/*
SimpleFramebufferDepth/debug/*
SimpleGeometryTriangle/debug/*
SimpleMultiSampleFramebuffer/debug/*
SimplePassData/debug/*
SimplePassDataByBlock/debug/*
SimpleTessellationTriangle/debug/*
SimpleTextureArray/debug/*
SimpleUniformBlock/debug/*
SimpleVertexArrayObject/debug/*
SimpleVertexArrayObject_1/debug/*
SimpleVertexAttribute/debug/*
SinglePoint/debug/*
SingleTextureTriangle/debug/*
SingleTriangle/debug/*
BaseTest/release/*
CPP11AlignTest/release/*
GLMTest/release/*
ObjectFileFormatNormalView/release/*
ObjectFileFormatView/release/*
OBJView/release/*
OpenGLSuperBible.pro/release/*
OpenGLSuperBible.pro.user/release/*
OpenGLSuperBible.sln/release/*
OpenGLSuperBible.VC.db/release/*
PrintOpenGLVersion/release/*
PrintOpenGLVersionWithTimer/release/*
SetSimpleDebug/release/*
SetSimpleDebugTest/release/*
SimpleBlendTest/release/*
SimpleBuffer/release/*
SimpleClearColor/release/*
SimpleClearColorTimer/release/*
SimpleDepthTest/release/*
SimpleDrawElements/release/*
SimpleFramebuffer/release/*
SimpleFramebufferBlend/release/*
SimpleFramebufferDepth/release/*
SimpleGeometryTriangle/release/*
SimpleMultiSampleFramebuffer/release/*
SimplePassData/release/*
SimplePassDataByBlock/release/*
SimpleTessellationTriangle/release/*
SimpleTextureArray/release/*
SimpleUniformBlock/release/*
SimpleVertexArrayObject/release/*
SimpleVertexArrayObject_1/release/*
SimpleVertexAttribute/release/*
SinglePoint/release/*
SingleTextureTriangle/release/*
SingleTriangle/release/*
xxx.txt
