*.user
_global_config_and_source/glm/CMakeLists.txt
_global_config_and_source/OpengGL45Docs/~$openglAPI.xlsx
_global_config_and_source/GLMDocs/~$glm.docx
*.o
build-SimpleTextureArray-mingwyy-Release/Makefile
*.Release
*.exe
*.Debug
build-SimpleTextureArray-mingwyy-Release/release/moc_MainWindow.cpp